.App {
  text-align: center;
}

.header {
  background-color: #222;
  height: 100px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.Subheader {
font-size: 18px;
font-style: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.flex-container div{
  padding: 40px;
  border: solid black 1px;
  font-size: 45px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}